@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;  
  background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: 100vh;
    margin: 0;
    
}

.container{
    margin: 0px 20px;

}

li{
    padding: 5px;
    font-size: 18px;
    margin-left: 2%;
}

li a{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
a{
    text-decoration: none;
}



.btn-icon{
    height: 50px;
    width: 150px;
    padding: 10px;
    border: none;
    margin-right: 40px;
    margin-top: 13px;
    background-color: rgb(78, 77, 77);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    transform: 0;

}

.btn-icon:hover{
    cursor: pointer;
    background-color: rgb(66, 65, 65);
}

.btn-icon:focus{
    outline: none;
   

}


@media(max-width: 800px) {
    .container {
        width: 90%;
    }
}