*{
    box-sizing: border-box;
}

body{
    background-color: #488FB1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1{
    color:white;
    font-family: sans-serif;
}

p{
    color:#FFD32D;
    text-align: center;
}

.btn{
    color:white;
    background-color: #FFD32D;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 15px;
}

.currency{
    padding: 40px 0;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.currency select{
    padding: 10px 20px 10px 10px;
    border: 1px solid black;
    font-size: 16px;
    background:white;
}

.currency input{
    border: 0;
    background: transparent;
    font-size: 24px;
    text-align: right;
}

.swap-rates-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: #FFD32D;
    font-size: 16px;
    padding:  0 10px;
}

select:focus, input:focus , button:focus {
    outline: 0;
}

@media (max-width : 600px) {
.screen
 {
    width: 50% ;
    }
}